{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="profile-container">
        <nav class="profile-nav">
            <ul>
                <li><a onclick="showSection('profil')">Profil</a></li>
                <li><a onclick="showSection('securite')">Sécurité</a></li>
                <li><a onclick="showSection('adresse')">Adresse</a></li>
                <li><a onclick="showSection('commande')">Commande</a></li>
            </ul>
        </nav>

        <div class="profile-content">
            <!-- Section Profil -->
            <div id="profil" class="content-section active">
                <a href="{{ path('app_home') }}"><button>Retour</button></a>
                <h1>Profil</h1>
                <h2>Votre image de profil:</h2>
                <img src="{{ asset('uploads/pictureUser/' ~ app.user.pictureUser) }}" alt="Image de profil" style="max-width: 150px;" />
                <h2>Votre pseudonyme:</h2>
                <p>{{ app.user.pseudo }}</p>
                {{ form_start(profileForm, {'action': path('app_profile'), 'method': 'POST'}) }}
                    {{ form_row(profileForm.pseudo, {'label': 'Pseudo'}) }}
                    <button class="btn btn-lg btn-primary" type="submit">Modifier son pseudo</button>
                {{ form_end(profileForm) }}
            </div>

            <!-- Section Sécurité -->
            <div id="securite" class="content-section">
                <h1>Sécurité</h1>

            <h2>Modifier votre email</h2>
            {{ form_start(emailForm) }}
                {{ form_row(emailForm.email) }}
                <button class="btn btn-primary">Mettre à jour l'email</button>
            {{ form_end(emailForm) }}

            <hr>

            <h2>Modifier votre mot de passe</h2>
            {{ form_start(passwordForm) }}
                {{ form_row(passwordForm.current_password) }}
                {{ form_row(passwordForm.new_password.first) }}
                {{ form_row(passwordForm.new_password.second) }}
                <button class="btn btn-warning">Mettre à jour le mot de passe</button>
            {{ form_end(passwordForm) }}
            </div>

            <!-- Section Adresse -->
            <div id="adresse" class="content-section">
                <h1>Adresse</h1>
                <p>Adresse de livraison, de facturation, etc.</p>
            </div>

            <!-- Section Commande -->
            <div id="commande" class="content-section">
                <h1>Commandes</h1>
                <p>Historique de vos commandes.</p>
            </div>
        </div>
    </div>
    <script>
    function showSection(sectionId) {
    document.querySelectorAll('.content-section').forEach(function (section) {
        section.classList.remove('active');
    });
    document.getElementById(sectionId).classList.add('active');
}
{% endblock %}

