{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block body %}
	<div class="dashboard-container">
		<div class="dashboard-content">
			{% for message in app.flashes('success') %}
				<div class="flash-success">{{ message }}</div>
			{% endfor %}

			{% for message in app.flashes('error') %}
				<div class="flash-error">{{ message }}</div>
			{% endfor %}
			<!-- Section Profil -->
			<section id="profil">
				<h2>Profil</h2>
				{{ form_start(profileForm) }}
				{{ form_row(profileForm.pseudo) }}

				<div class="avatar-selection">
					{% for choice in profileForm.pictureUser %}
						<label class="avatar-option">
							{{ form_widget(choice) }}
							<img src="{{ asset('uploads/pictureUser/' ~ choice.vars.value) }}" alt="{{ choice.vars.label }}">
						</label>
					{% endfor %}
					{{ form_errors(profileForm.pictureUser) }}
				</div>

				<button type="submit" class="btn">Modifier</button>
				{{ form_end(profileForm) }}
			</section>

			<!-- Section Sécurité -->
			<section id="securite">
				<h2>Sécurité</h2>
				{{ form_start(emailForm) }}
				{{ form_row(emailForm.email) }}
				<button type="submit" class="btn">Modifier l'e-mail</button>
				{{ form_end(emailForm) }}

				<hr>

				{{ form_start(passwordForm) }}
				{{ form_row(passwordForm.current_password) }}
				{{ form_row(passwordForm.new_password.first) }}
				{{ form_row(passwordForm.new_password.second) }}
				<button type="submit" class="btn">Changer le mot de passe</button>
				{{ form_end(passwordForm) }}
			</section>

			<!-- Section Adresse -->
			<section id="adresse">
				<h2>Adresses</h2>
				{{ form_start(addressForm) }}
				<div id="deliveryAddress" style="display: none;">
					<h3>Adresse de livraison</h3>
					{{ form_row(addressForm.deliveryAddress) }}
				</div>

				<button type="submit" class="btn">Enregistrer</button>
				{{ form_end(addressForm) }}
			</section>

			<!-- Section Commandes -->
			<section id="commandes">
				<h2>Vos commandes (3 derniers mois)</h2>
				{% if orders|length > 0 %}
					<table>
						<thead>
							<tr>
								<th>Date</th>
								<th>Numéro</th>
								<th>Total</th>
								<th>Statut</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
								<tr>
									<td>{{ order.createdAt|date('d/m/Y') }}</td>
									<td>#{{ order.id }}</td>
									<td>{{ order.total }}
										€</td>
									<td>{{ order.status.name }}</td>
									<td>
										<a href="{{ path('account_order_pdf', {'id': order.id}) }}" target="_blank">
											📄 PDF
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<div class="pagination-container">
						{{ knp_pagination_render(orders) }}
					</div>
				{% else %}
					<p>Aucune commande récente.</p>
				{% endif %}
			</section>

		</div>
	</div>
{% endblock %}
