{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur notre site de vente de produits dérivés</h1>
    <section>
        <h2>Nouveaux Produits</h2>
        <ul class="cards-container">
            {% for product in newProducts %}
                <li class="card">
                        {% set routeName = product.type ~ 's_show' %}
                        <a href="{{ path(routeName, {'id': product.id}) }}">
                            <h3>  {{ product.name }}</h3>
                            <img src="{{ asset('uploads/pictureProduct/' ~ product.picture) }}" alt="{{ product.name }}">
                            <p> Prix: {{ product.price }} € </p>
                        </a>
                        <a href="{{ path('cart_add', {type: product.type, id: product.id}) }}" class="add-to-cart" data-id="{{ product.id }}" data-type="{{ product.type }}">
                        ➕ Ajouter au panier
                    </a>
                    </li>
            {% endfor %}
        </ul>
        <a href="{{ path('app_view', { filter: 'new' }) }}" class="btn">Tout voir</a>
    </section>
    
    <section>
        <h2>Produits Populaires</h2>
        <ul class="cards-container">
            {% for product in popularProducts %}
                <li class="card">
                        {% set routeName = product.type ~ 's_show' %}
                        <a href="{{ path(routeName, {'id': product.id}) }}">
                            <h3>  {{ product.name }}</h3>
                            <img src="{{ asset('uploads/pictureProduct/' ~ product.picture) }}" alt="{{ product.name }}">
                            <p> Prix: {{ product.price }} € </p>
                        </a>
                        <a href="{{ path('cart_add', {type: product.type, id: product.id}) }}" class="add-to-cart" data-id="{{ product.id }}" data-type="{{ product.type }}">
                        ➕ Ajouter au panier
                    </a>
                    </li>
            {% endfor %}
        </div>
        <a href="{{ path('app_view', { filter: 'popular' }) }}" class="btn">Tout voir</a>
    </section>

    <section>
        <h2>Meilleures Ventes</h2>
        <ul class="cards-container">
            {% for product in bestSellers %}
                <li class="card">
                        {% set routeName = product.type ~ 's_show' %}
                        <a href="{{ path(routeName, {'id': product.id}) }}">
                            <h3>  {{ product.name }}</h3>
                            <img src="{{ asset('uploads/pictureProduct/' ~ product.picture) }}" alt="{{ product.name }}">
                            <p> Prix: {{ product.price }} € </p>
                        </a>
                        <a href="{{ path('cart_add', {type: product.type, id: product.id}) }}" class="add-to-cart" data-id="{{ product.id }}" data-type="{{ product.type }}">
                        ➕ Ajouter au panier
                    </a>
                    </li>
            {% endfor %}
        </div>
        <a href="{{ path('app_view', { filter: 'best' }) }}" class="btn">Tout voir</a>
    </section>
{% endblock %}
