{% extends 'base.html.twig' %}

{% block title %}Manga-Wara{% endblock %}

{% block body %}
<h1>Manga-Wara</h1>
<a href="{{ path('books_index') }}"><button>Manga</button></a>
{% if not app.user %}
            {# page inscription affiché si pas connecté #}
            <a href="{{ path('app_register') }}">
                <button>S'inscrire</button>
            </a>

            {# page de connexion affiché si pas connecté #}
            <a href="{{ path('app_login') }}">
                <button>Se connecter</button>
            </a>
        {% else %}
            {# Sinon si app.user est défini, c'est qu'un utilisateur est connecté #}
            <a href="{{ path('app_logout') }}">
                <button>Déconnexion</button>
            </a>
            <a href="{{ path('app_profile') }}"><button>Profil</button></a>
        {% endif %}
{% endblock %}
