{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {# === CARROUSEL === #}
    <main class="home">
        
        <section class="carousel ">
            <div class="slides">
                <img src="{{ asset('uploads/banners/banner1.webp') }}" alt="Bannière 1">
                <img src="{{ asset('uploads/banners/banner2.webp') }}" alt="Bannière 2">
                <img src="{{ asset('uploads/banners/banner3.webp') }}" alt="Bannière 3">
            </div>
            <div class="buttons">
                <button id="prev">&#10094;</button>
                <button id="next">&#10095;</button>
            </div>
            <div class="indicators" id="indicators"></div>
        </section>

        <section>
            <h2>Nouveaux Produits</h2>
            <div class="bg">
                <ul class="cards-container bg">
                    {% for product in newProducts %}
                        <li class="card">
                            {% set routeName = product.type ~ 's_show' %}
                            <a href="{{ path(routeName, {'id': product.id}) }}">
                                <h3 class="truncate-title">{{ product.name }}</h3>
                                <img src="{{ asset('uploads/pictureProduct/' ~ product.picture) }}" alt="{{ product.name }}">
                                <p> Prix: {{ product.price }} € </p>
                            </a>
                            <button type="button" class="add-to-cart" data-id="{{ product.id }}" data-type="{{ product.type }}">
                                 ➕ Ajouter au panier
                            </button>
                            <div>
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('product_edit', {'type': product.type, 'id': product.id, 'redirect': app.request.uri}) }}" class="btn-edit">✏️ Modifier</a>
								<a href="{{ path('product_delete', {'type': product.type, 'id': product.id, 'redirect': app.request.uri}) }}" class="btn-delete" onclick="return confirm('⚠️ Es-tu sûr de vouloir supprimer ce produit ?');">🗑 Supprimer</a>
							{% endif %}
						</div>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{ path('app_view', { filter: 'Nouveaux' }) }}" class="btn">Tout voir</a>
            </div>
        </section>

        <section>
            <h2>Produits Populaires</h2>
            <div class="bg">
                <ul class="cards-container bg">
                    {% for product in popularProducts %}
                        <li class="card">
                            {% set routeName = product.type ~ 's_show' %}
                            <a href="{{ path(routeName, {'id': product.id}) }}">
                                <h3 class="truncate-title" >{{ product.name }}</h3>
                                <img src="{{ asset('uploads/pictureProduct/' ~ product.picture) }}" alt="{{ product.name }}">
                                <p> Prix: {{ product.price }} € </p>
                            </a>
                            <button type="button" class="add-to-cart" data-id="{{ product.id }}" data-type="{{ product.type }}">
                                 ➕ Ajouter au panier
                            </button>
                            <div>
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('product_edit', {'type': product.type, 'id': product.id, 'redirect': app.request.uri}) }}" class="btn-edit">✏️ Modifier</a>
								<a href="{{ path('product_delete', {'type': product.type, 'id': product.id, 'redirect': app.request.uri}) }}" class="btn-delete" onclick="return confirm('⚠️ Es-tu sûr de vouloir supprimer ce produit ?');">🗑 Supprimer</a>
							{% endif %}
						</div>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{ path('app_view', { filter: 'Populaires' }) }}" class="btn">Tout voir</a>
            </div>
        </section>

        <section >
            <h2>Meilleures Ventes</h2>
            <div class="bg">
                <ul class="cards-container bg">
                    {% for product in bestSellers %}
                        <li class="card">
                            {% set routeName = product.type ~ 's_show' %}
                            <a href="{{ path(routeName, {'id': product.id}) }}">
                                <h3 class="truncate-title">{{ product.name }}</h3>
                                <img src="{{ asset('uploads/pictureProduct/' ~ product.picture) }}" alt="{{ product.name }}">
                                <p> Prix: {{ product.price }} € </p>
                            </a>
                            <button type="button" class="add-to-cart" data-id="{{ product.id }}" data-type="{{ product.type }}">
                                 ➕ Ajouter au panier
                            </button>
                            <div>
							{% if is_granted('ROLE_ADMIN') %}
								<a href="{{ path('product_edit', {'type': product.type, 'id': product.id, 'redirect': app.request.uri}) }}" class="btn-edit">✏️ Modifier</a>
								<a href="{{ path('product_delete', {'type': product.type, 'id': product.id, 'redirect': app.request.uri}) }}" class="btn-delete" onclick="return confirm('⚠️ Es-tu sûr de vouloir supprimer ce produit ?');">🗑 Supprimer</a>
							{% endif %}
						</div>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{ path('app_view', { filter: 'Vendus' }) }}" class="btn">Tout voir</a>
            </div>
        </section>
    </main>

    {# === CARROUSEL SCRIPT === #}
    
{% endblock %}
{% block javascript %}
    {{ parent() }}
            <script src="{{ asset('js/carrousel.js') }}"></script>
{% endblock %}
