{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <form action="{{ path('app_register') }}" method="post" class="form">
    <h2>S'inscrire</h2>

    <!-- Afficher les erreurs globales du formulaire -->
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

    <!-- Champ Email -->
    <div class="flex-column">
        <label for="{{ registrationForm.email.vars.id }}">{{ registrationForm.email.vars.label }}</label>
    </div>
    <div class="inputForm">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 32 32" height="20">
            <g data-name="Layer 3" id="Layer_3">
                <path d="M30.85 13.87a15 15 0 00-29.73 4.08 15.1 15.1 0 0012.88 12.92 15.6 15.6 0 002.02.13 14.85 14.85 0 007.72-2.15 1 1 0 10-1.03-1.71 13.01 13.01 0 115.46-6.53 2.15 2.15 0 01-4.16-.76v-10.86a1 1 0 00-2 0v1.73a8 8 0 10.2 10.33 4.14 4.14 0 007.83.27 15.2 15.2 0 00.82-7.46zm-14.85 8.13a6 6 0 116-6 6.01 6.01 0 01-6 6z"></path>
            </g>
        </svg>
        {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Adresse e-mail', 'class': 'input'}}) }}
        {{ form_errors(registrationForm.email) }}
    </div>

    <!-- Champ Mot de passe (premier) -->
    <div class="flex-column">
        <label for="{{ registrationForm.plainPassword.first.vars.id }}">{{ registrationForm.plainPassword.first.vars.label }}</label>
    </div>
    <div class="inputForm">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="-64 0 512 512" height="20">
            <path d="M336 512H48c-26.5 0-48-21.5-48-48V288c0-26.5 21.5-48 48-48h288c26.5 0 48 21.5 48 48v224c0 26.5-21.5 48-48 48zM48 256c-8.8 0-16 7.2-16 16v224c0 8.8 7.2 16 16 16h288c8.8 0 16-7.2 16-16V288c0-8.8-7.2-16-16-16H48c-8.8 0-16 7.2-16 16zm0 0"></path>
            <path d="M304 224c-8.8 0-16-7.2-16-16V144c0-52.9-43.1-96-96-96s-96 43.1-96 96v80c0 8.8-7.2 16-16 16s-16-7.2-16-16V144c0-70.6 57.4-128 128-128s128 57.4 128 128v80c0 8.8-7.2 16-16 16z"></path>
        </svg>
        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'placeholder': 'Mot de passe', 'class': 'input'}}) }}
        {{ form_errors(registrationForm.plainPassword.first) }}
    </div>

    <!-- Champ Confirmation du mot de passe (second) -->
    <div class="flex-column">
        <label for="{{ registrationForm.plainPassword.second.vars.id }}">{{ registrationForm.plainPassword.second.vars.label }}</label>
    </div>
    <div class="inputForm">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="-64 0 512 512" height="20">
            <path d="M336 512H48c-26.5 0-48-21.5-48-48V288c0-26.5 21.5-48 48-48h288c26.5 0 48 21.5 48 48v224c0 26.5-21.5 48-48 48zM48 256c-8.8 0-16 7.2-16 16v224c0 8.8 7.2 16 16 16h288c8.8 0 16-7.2 16-16V288c0-8.8-7.2-16-16-16H48c-8.8 0-16 7.2-16 16zm0 0"></path>
            <path d="M304 224c-8.8 0-16-7.2-16-16V144c0-52.9-43.1-96-96-96s-96 43.1-96 96v80c0 8.8-7.2 16-16 16s-16-7.2-16-16V144c0-70.6 57.4-128 128-128s128 57.4 128 128v80c0 8.8-7.2 16-16 16z"></path>
        </svg>
        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'placeholder': 'Répétez le mot de passe', 'class': 'input'}}) }}
        {{ form_errors(registrationForm.plainPassword.second) }}
    </div>

    <!-- Case à cocher : Acceptation des conditions générales -->
    <div class="flex-row">
        <label class="checkbox-btn">
            {{ form_widget(registrationForm.agreeTerms) }}
            <span class="checkmark">{{ registrationForm.agreeTerms.vars.label }}</span>
            {{ form_errors(registrationForm.agreeTerms) }}
        </label>
    </div>

    <!-- Bouton de soumission -->
    <button type="submit" class="button-submit">S'inscrire</button>

    <!-- Liens supplémentaires -->
    <p class="p">Déjà inscrit ? <a href="{{ path('app_login') }}" class="span">Se connecter</a></p>
    <p class="p line">Ou avec</p>
    <div class="flex-row">
        <button class="btn google">
            <svg
            xml:space="preserve"
            style="enable-background:new 0 0 512 512;"
            viewBox="0 0 512 512"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            id="Layer_1"
            width="20"
            version="1.1"
        >
            <path
            d="M113.47,309.408L95.648,375.94l-65.139,1.378C11.042,341.211,0,299.9,0,256
        c0-42.451,10.324-82.483,28.624-117.732h0.014l57.992,10.632l25.404,57.644c-5.317,15.501-8.215,32.141-8.215,49.456
        C103.821,274.792,107.225,292.797,113.47,309.408z"
            style="fill:#FBBB00;"
            ></path>
            <path
            d="M507.527,208.176C510.467,223.662,512,239.655,512,256c0,18.328-1.927,36.206-5.598,53.451
        c-12.462,58.683-45.025,109.925-90.134,146.187l-0.014-0.014l-73.044-3.727l-10.338-64.535
        c29.932-17.554,53.324-45.025,65.646-77.911h-136.89V208.176h138.887L507.527,208.176L507.527,208.176z"
            style="fill:#518EF8;"
            ></path>
            <path
            d="M416.253,455.624l0.014,0.014C372.396,490.901,316.666,512,256,512
        c-97.491,0-182.252-54.491-225.491-134.681l82.961-67.91c21.619,57.698,77.278,98.771,142.53,98.771
        c28.047,0,54.323-7.582,76.87-20.818L416.253,455.624z"
            style="fill:#28B446;"
            ></path>
            <path
            d="M419.404,58.936l-82.933,67.896c-23.335-14.586-50.919-23.012-80.471-23.012
        c-66.729,0-123.429,42.957-143.965,102.724l-83.397-68.276h-0.014C71.23,56.123,157.06,0,256,0
        C318.115,0,375.068,22.126,419.404,58.936z"
            style="fill:#F14336;"
            ></path>
        </svg> Google
        </button>
        <button class="btn apple">
            <svg xml:space="preserve"
            style="enable-background:new 0 0 22.773 22.773;"
            viewBox="0 0 22.773 22.773"
            y="0px"
            x="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            id="Capa_1"
            width="20"
            height="20"
            version="1.1"
        >
            <g>
            <g>
                <path
                d="M15.769,0c0.053,0,0.106,0,0.162,0c0.13,1.606-0.483,2.806-1.228,3.675c-0.731,0.863-1.732,1.7-3.351,1.573 c-0.108-1.583,0.506-2.694,1.25-3.561C13.292,0.879,14.557,0.16,15.769,0z"
                ></path>
                <path
                d="M20.67,16.716c0,0.016,0,0.03,0,0.045c-0.455,1.378-1.104,2.559-1.896,3.655c-0.723,0.995-1.609,2.334-3.191,2.334 c-1.367,0-2.275-0.879-3.676-0.903c-1.482-0.024-2.297,0.735-3.652,0.926c-0.155,0-0.31,0-0.462,0 c-0.995-0.144-1.798-0.932-2.383-1.642c-1.725-2.098-3.058-4.808-3.306-8.276c0-0.34,0-0.679,0-1.019 c0.105-2.482,1.311-4.5,2.914-5.478c0.846-0.52,2.009-0.963,3.304-0.765c0.555,0.086,1.122,0.276,1.619,0.464 c0.471,0.181,1.06,0.502,1.618,0.485c0.378-0.011,0.754-0.208,1.135-0.347c1.116-0.403,2.21-0.865,3.652-0.648 c1.733,0.262,2.963,1.032,3.723,2.22c-1.466,0.933-2.625,2.339-2.427,4.74C17.818,14.688,19.086,15.964,20.67,16.716z"
                ></path>
            </g>
            </g></svg> Apple
        </button>
    </div>

    {{ form_end(registrationForm, {'render_rest': false}) }}
</form>
{% endblock %}
