{% extends 'base.html.twig' %}

{% block title %}
    {{ figurine.name }}
{% endblock %}

{% block body %}
    <main class="container-figurines">
    
        <section class="figurine-show1">
            <div>
                <p>
                    <a href="{{ path('app_home') }}">Accueil</a> /
                    <a href="{{ path('figurines_index') }}">Figurines</a> /
                    {{ figurine.name }}
                </p>
                <img src="{{ asset('uploads/pictureProduct/' ~ figurine.picture) }}" alt="{{ figurine.name }}"/>
            </div>

            <div>
                <h2>{{ figurine.name }}</h2>

                <!-- Boutons pour afficher la description ou les détails -->
                <button id="btn-description">Description</button>
                <button id="btn-details">Détails</button>

                <!-- Conteneur qui recevra le contenu -->
                <div id="content-container"></div>

                <!-- Bouton "Ajouter au panier" -->
                <a href="{{ path('cart_add', {type: figurine.type, id: figurine.id}) }}" class="add-to-cart" data-id="{{ figurine.id }}" data-type="{{ figurine.type }}">
                        ➕ Ajouter au panier
                    </a>
            </div>
        </section>

        <!-- Injection des données sous forme de JSON dans un élément caché -->
        <script type="application/json" id="figurine-data">
            {
                "description": "{{ figurine.description|e('js') }}",
                "brand": "{{ figurine.brand.name|e('js') }}",
                "reference": "{{ figurine.reference|e('js') }}",
                "price": "{{ figurine.price }}"
            }
        </script>

        
    <section class="figurine-show2">
    {# Formulaire pour ajouter un commentaire #}
        {{ form_start(form) }}
            {{ form_row(form.content) }}
            <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(form) }}

    {# Affichage des commentaires #}
        <ul>
            {% for comment in pagination %}
                <li>
                    <p>Posté par: <img src="{{ asset('uploads/pictureUser/' ~ comment.user.pictureUser) }}" alt="image du profil"></img> {{ comment.user.pseudo }}</p>
                    <p>Posté le: {{ comment.date|date('d/m/Y H:i') }}</p>
                    <p>{{ comment.content }}</p>
                </li>
            {% else %}
                <p>Aucun commentaire pour le moment.</p>
            {% endfor %}
        </ul>

    {# Pagination #}
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
    {# Lien de retour #}
    
    </main>
{% endblock %}
