{% block title %}Admin Dashboard{% endblock %}

{% block body %}
    <div class="admin_container">
        <nav>
            <div>
                <a href="{{ path('admin_dashboard') }}">
                    <img src="{{ asset('uploads/logo.webp') }}" alt="Logo">
                </a>
                <ul>
                     <li><a href="{#{{ path('admin_dashboard') }}#}">Dashboard</a></li> 
                    <li><a href="{#{{ path('admin_products') }}#}">Produits</a></li>
                    <li><a href="{#{{ path('admin_orders') }}#}">Commandes</a></li>
                    <li><a href="{#{{ path('admin_users') }}#}">Utilisateurs</a></li>
                </ul>
            </div>
            <div>
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        </nav>

        <main>
            <section>
                <h1>Admin Dashboard</h1>
                <h2>Bienvenue administrateur {{ app.user.pseudo }}</h2>
            </section>
        </main>
    </div>
{% endblock %}




