{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block body %}
<main class="bg">
    <section class="dashboard-content">

            <h2>Modifier le produit</h2>

            <div class="form-container">
                {{ form_start(form) }}

                    {{ form_row(form.name) }}
                    {{ form_row(form.price) }}
                    {{ form_row(form.picture) }}

                    {% if form.synopsis is defined %}
                        {{ form_row(form.synopsis) }}
                    {% elseif form.description is defined %}
                        {{ form_row(form.description) }}
                    {% endif %}

                    <button type="submit" class="btn">Enregistrer</button>

                {{ form_end(form) }}
            </div>

            <a href="{{ app.request.headers.get('referer') ?: path('admin_dashboard') }}" class="btn">Annuler</a>

    </section>
</main>
{% endblock %}
