{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}

        {% for book in pagination %}
          {% for book in books %}
        
        <h2>{{ book.name }}</h2>
        <img src="{{ asset('uploads/images/' ~ book.picture) }}" alt="{{ book.name }}"</img>
        <p> Prix: <br>{{ book.price }} €</p>
        
        {# <a href="{{ path('books_show') }}" class="btn btn-primary">Plus d'infos</a> #}
        {% endfor %}  
        {% endfor %}

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div> 
 
        <br>
<a href="{{ path('books_new') }}" class="btn btn-success">Nouveau titre</a>
{% endblock %}
