{% extends 'base.html.twig' %}

{% block body %} 
    <main>
        {# Formulaire de filtres #}
        <form method="get" action="{{ path('books_index') }}" class="filter-form">
            <label for="editor">Éditeur :</label>
            <select name="editor" id="editor">
                <option value="">Tous</option>
                {% for editor in editors %}
                    <option value="{{ editor.name }}" {% if app.request.query.get('editor') == editor.name %}selected{% endif %}>
                        {{ editor.name }}
                    </option>
                {% endfor %}
            </select>

            {# Menu déroulant au survol de "Manga" #}
            
            <button type="submit">Filtrer</button>
        </form>

        {# Liste des livres filtrés #}
        <ul class="cards-container">
            {% for book in pagination %}
                <li class="card">
                    <a href="{{ path('books_show', {'id': book.id}) }}">
                        <h3>  {{ book.name }}</h3>
                        <img src="{{ asset('uploads/pictureProduct/' ~ book.picture) }}" alt="{{ book.name }}">
                        <p> Prix: {{ book.price }} € </p>
                    </a>
                    <a href="{{ path('cart_add', {id: book.id}) }}" class="add-to-cart" data-id="{{ book.id }}">
                        ➕ Ajouter au panier
                    </a>
                </li>
            {% else %}
                <p>Aucun livre trouvé pour ces filtres.</p>
            {% endfor %}
        </ul>

        {# Pagination #}
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>

        <br>
        <a href="{{ path('books_new') }}">Nouveau titre</a>
    </main>
{% endblock %}
