{% extends 'base.html.twig' %}

{% block title %}
    {{ book.name }}
{% endblock %}

{% block body %}
    <main class="bg">
    
        <section class="book-show1">
            <div>
                <p>
                    <a href="{{ path('app_home') }}">Accueil</a> /
                    <a href="{{ path('books_index') }}">Mangas</a> /
                    {{ book.name }}
                </p>
                <img src="{{ asset('uploads/pictureProduct/' ~ book.picture) }}" alt="{{ book.name }}"/>
            </div>
                <div class="book-bg">
                    <h2>{{ book.name }}</h2>
                    <p>Prix: {{ book.price }} €</p>
                    <h3>Synopsis</h3>
                    <p>{{book.synopsis}}</p>
                    <h3>Details</h3>
                    <div class="details">
                    <button type="button" class="add-to-cart" data-id="{{ book.id }}" data-type="{{ book.type }}">
                        ➕ Ajouter au panier
                    </button>
                        <ul >
                            <li>Éditeur: {{book.editor}}</li>
                            <li>Catégorie: {{book.category.name}}</li>
                            <li>Référence: {{book.reference}}</li>
                            <li>ISBN: {{book.isbn}}</li>
                            <li>EAN: {{book.ean}}</li>
                        </ul>
                        
                    </div>
                </div>

                    <!-- Bouton "Ajouter au panier" -->
                    
                </div>
                
            </div>
        </section>

            <section class="collection">
        <h2>Dans la même collection</h2>

        {% if relatedBooks is not empty %}
            <div class="related-books cards-container">
                {% for related in relatedBooks %}
                    <div class="related-book-card card">
                        <a href="{{ path('books_show', { id: related.id }) }}">
                            <h3>{{ related.name }}</h3>
                            <img src="{{ asset('uploads/pictureProduct/' ~ related.picture) }}" alt="{{ related.name }}" />
                            <p>{{ related.price }} €</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>Aucun autre produit dans cette collection.</p>
        {% endif %}
    </section>
    <section class="book-show2">
    {# Formulaire pour ajouter un commentaire #}
        <h2>Ajouter un commentaire</h2>
        {% if app.user %}
            {{ form_start(form) }}
            <span>{{ form_row(form.content) }}</span>
            <button type="submit" class="btn btn-success">Envoyer</button>
            {{ form_end(form) }}
        {% else %}
            <p>Vous devez être connecté pour laisser un commentaire.</p>
        {% endif %}

        {# Affichage du formulaire #}
        {% if form is not empty %}
            <h3>Votre commentaire</h3>
        {% endif %}
        

    {# Affichage des commentaires #}
        <ul>
            {% for comment in pagination %}
                <div class="comment-header">
                        {% if app.user and (comment.user == app.user or is_granted('ROLE_ADMIN')) %}
                            <a href="{{ path('comment_delete', {id: comment.id}) }}" class="btn-delete" onclick="return confirm('⚠️ Es-tu sûr de vouloir supprimer ce produit ?');"> Supprimer</a>
                            <a href="{{ path('comment_edit', {id: comment.id}) }}" class="btn-edit"">Modifier</a>
                        {% endif %}
                </div>
                <li class="comment">
                    {# Affichage de l'image de profil de l'utilisateur #}
                    
                <li>
                    {% if comment.user.pictureUser is not null %}
                        <img src="{{ asset('uploads/pictureUser/' ~ comment.user.pictureUser) }}" alt="image du profil"></img>
                    {% else %}
                        <img src="{{ asset('uploads/pictureUser/default.png') }}" alt="image du profil"></img>
                    {% endif %}
                    
                    <div>
                        <div class="comment-user">
                            <p>Posté par: {{ comment.user.pseudo }} le: {{ comment.date|date('d/m/Y') }} à {{ comment.date|date('H:i') }}</p>
                        </div>
                            <p class="comment-text">{{ comment.content }}</p>
                        </div>
                </li>
            {% else %}
                <p>Aucun commentaire pour le moment.</p>
            {% endfor %}
        </ul>

    {# Pagination #}
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
    {# Lien de retour #}
    
    </main>
{% endblock %}
{% block javascript %}
    {{ parent() }}
{% endblock %}