{% extends 'base.html.twig' %}

{% block title %}
    {{ book.name }}
{% endblock %}

{% block body %}
    <h1>{{ book.name }}</h1>
    <img src="{{ asset('uploads/images/' ~ book.picture) }}" alt="{{ book.name }}"</img>
    <p>{{ book.synopsis }}</p>
    <p>Editeur: {{ book.editor }}</p>
    <p>Catégorie: {{ book.category }}</p>
    <p>Référence: {{ book.reference }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    <p>EAN: {{ book.ean }}</p>
    <div>prix: 
    {{book.price}} €<br>
        <a href="{{ path('book_list')}}">Retour au catalogue</a>
{% endblock %}
