<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="MangaWara">
        <meta name="theme-color" content="#000000">
        <meta name="robots" content="index, follow">
        <meta name="description" content="MangaWara - Votre boutique en ligne de mangas et figurines">
        <meta name="keywords" content="manga, figurines, boutique en ligne, achat manga, achat figurine">
        <link rel="icon" href="{{ asset('uploads/logo.webp')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="cart-popup" style="display: none;">
            <p>Article ajouté au panier ✅</p>
            <p>Total articles : <span id="popup-total-items">0</span></p>
            <p>Total : <span id="popup-total-price">0</span> €</p>
            <a href="{{ path('cart_index') }}">Voir le panier</a>
        </div>

        <header>
            {% block header %}
                <section>
                    <a href="{{ path('app_home') }}">
                        <img src="{{ asset('uploads/logo.webp') }}" alt="Logo MangaWara">
                    </a>

                    <div id="search-container" class="search-container">
                        <input type="text" id="search-input" placeholder="Rechercher..." autocomplete="off">
                        <ul id="search-results"></ul>
                    </div>

                    <div class="header-actions">
                        <a href="{{ path('cart_index') }}">Panier</a>
                        {% if not app.user %}
                            <a href="{{ path('app_register') }}">S'inscrire</a>
                            <a href="{{ path('app_login') }}">Se connecter</a>
                        {% else %}
                            <a href="{{ path('app_profile') }}">Mon compte</a>
                            <a href="{{ path('app_logout') }}">Déconnexion</a>
                        {% endif %}
                    </div>
                </section>

                <nav> 
                    <div class="dropdown">
                        <span class="dropdown-trigger">Manga</span>
                        <div class="dropdown-menu">
                            <a href="{{ path('books_index', {
                            }) }}">Toutes</a>
                            {% for category in categories %}
                                <a href="{{ path('books_index', {
                                    category: category.value,
                                }) }}">
                                    {{ category.label() }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                    <a href="{{ path('figurines_index') }}">Figurines</a>
                    <a href="{{ path('product_good_deals') }}">Bon plan</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        {# Contenu réservé à l'admin #}
                        <a href="{{ path('admin_dashboard') }}">Admin</a>
                    {% endif %}
                </nav>
            {% endblock %}
        </header>

        {% block body %}{% endblock %}
        <footer>
            {% block footer %}
                <p>&copy; 2024 MangaWara. Tous droits réservés.</p>
                <ul>
                    <li><a href="{{ path('cgu', {'redirect': app.request.uri}) }}" class="hover:underline">Conditions Générales d’Utilisation</a></li>
                    <li><a href="{{ path('cgv', {'redirect': app.request.uri}) }}" class="hover:underline">Conditions Générales de Vente</a></li>
                    <li><a href="{{ path('mentions_legales', {'redirect': app.request.uri}) }}" class="hover:underline">Mentions légales</a></li>
                    <li><a href="{{ path('politique_confidentialite', {'redirect': app.request.uri}) }}" class="hover:underline">Politique de confidentialité</a></li>
                </ul>
            {% endblock %}

        {% block javascript %}
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('js/cart.js') }}"></script>
            <script src="{{ asset('js/search.js') }}"></script>
            <script src="{{ asset('js/dropdown.js') }}"></script>
            <script src="{{ asset('js/stripe.js') }}"></script>
            <script src="{{ asset('js/errors.js') }}"></script>
            {# <script src="{{ asset('js/form_controller.js') }}"></script> #}
        {% endblock %}

    </body>

</html>
